@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 96 27% 96%;
    --foreground: 20 14.3% 4.1%;
    --card: 96 27% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 96 27% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 126 30% 71%;
    --primary-foreground: 126 30% 15%;
    --secondary: 96 10% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 96 10% 90%;
    --muted-foreground: 24 9.8% 10%;
    --accent: 33 37% 59%;
    --accent-foreground: 33 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 96 15% 88%;
    --input: 96 15% 92%;
    --ring: 126 30% 71%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 120 10% 10%;
    --foreground: 120 5% 95%;
    --card: 120 10% 12%;
    --card-foreground: 120 5% 95%;
    --popover: 120 10% 12%;
    --popover-foreground: 120 5% 95%;
    --primary: 126 40% 50%;
    --primary-foreground: 126 10% 95%;
    --secondary: 120 10% 18%;
    --secondary-foreground: 120 5% 95%;
    --muted: 120 10% 18%;
    --muted-foreground: 120 5% 65%;
    --accent: 33 40% 70%;
    --accent-foreground: 33 20% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 20%;
    --input: 120 10% 20%;
    --ring: 126 40% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
